@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    background-color: #ECEEF1;
    font-family: 'Lato', sans-serif;
    width: 95vw;
    margin: 0 auto;
    color: #4C4C4C;
}

/*-------------- NAV SECTION----------------- */
nav{
    margin-top: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-text{
    font-size: .75rem;
    font-weight: 300;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text p{
margin-bottom: 0;
margin-top: 0;
}
.header-text a{
    margin-top: 0;
    color: #0077C5;
}
.sign-In-Button{
    border: 1px #4c4c4c solid;
    background-color: #0077C5;
    padding: 8px 20px;
    display: flex;
    border-radius: 4px;
    height: 20px; 
    justify-content: space-around;
    align-items: center;
}
.sign-In-Button p{
    font-size: .8rem;
    color: white;
    padding-left: 5px;
}
.fa-lock{
    color: white;
}

/* --------FORM SECTION-------- */

.container{
    margin: 0 auto;
    width: 20%;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
}

.container-header{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intuit-header-logo{
    width: 125px;
    height: 60px;
}

.logo-section{
    display: flex;
    align-items: center;
}

.logo-section p{
    font-size: 1.1rem;
    letter-spacing: -.5px;
}
.color-icon{
    width: 45px;
    height: 23px;
}
form{
    height: 80%;
    border: #a7a7a7 1px solid;
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    height: 20%;
}

.form-header h1{
    font-size: 1.4rem;
}

.form-header p{
    font-size: .8rem;
    margin-bottom: 0;
}
.form-header a{
    font-size: .8rem;
    color: #0077C5;
}

.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.section label{
    margin-bottom: 8px;
    font-size: .9rem;
}

.section input{
    height: 25px;
    border:1px solid #C1C5C8;
    border-radius: 2px;
}

.section span{
    margin-top: 5px;
    font-size: .6rem;
}

.create-account-button{
    margin-top: 10px;
    border: 1px #0077C5 solid;
    background-color:  #0077C5;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
    height: 38px; 
    justify-content: center;
    align-items: center;
}
.create-account-button p{
    color: #FFF;
    padding-left: 8px;
    font-size: .9rem;
}

.disclaimer{
    margin-top: 25px;
    font-size: .7rem;
    color: #757575;
    text-align: center;
}

.disclaimer a{
  color: #0077C5;   
  text-decoration: none;
}

form footer{
    background-color: #ECEEF1;
    font-size: .7rem;
}
